<body ng-app='myApp' ng-init="mc.pageload()">


  <body ng-app='myApp' ng-init="mc.pageload()">

    <div ng-hide="mc.name==Mohamed">

      <nav class="navbar navbar-inverse">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="#" class="titleh1">CATER<span class="titleapp">APP</span></a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#!/order">Add Order</a></li>
                  <li><a href="#!/email">Contact Staff</a></li>
                </ul>
                <ul class="nav navbar-nav right-nav">
                  <li><button type="button" name="button" class="btn btn-primary buttonrednav" ng-click="mc.logOut()">Logout</button></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>

        </div>

          <div ng-show="mc.name==Mohamed">


    <div ng-app='myApp' class="row">

    <section ng-controller='MainController as mc'>
<div class="getOrders verticalmargin" ng-init="mc.getUsers()">
<div class="pageheader3 bgorange">
  <div class="container">
<h2 class="pageheaderh2">Users</h2>
</div>
</div>

<div class="container">

<h1> Users</h1>

<p>mc.name</p>
<p>mc.username</p>
<p>mc.email</p>

</div>
</div>


</section>
</div>
</div>
</body>
